#VSCODE
.vscode/
*.code-workspace

# My Ignores
*.bak
Windows API Code Pack 1.1
TestSvgFiles
*_sample.bmp
**/test.svg
**/*.msi
**/*.wixpdb
**/_*

# Rust Related
/target
/Testing/target
*.lock
Build-And-Test-Tools/MSI Installer/*.dll
